body{
    background-color: rgb(150, 206, 187);
}
body h1{
    display: flex;
    justify-content: center;
    color: white;
    font-weight: bold;
   font-size: clamp(30px, 5vw, 50px);
}
#id1 {
    display: flex;
    justify-content: center;
    color: rgb(0, 0, 0);
    font-weight: bolder;
    font-size: clamp(50px, 15vw, 180px);
}
